/* AgregarPreguntasStyle.css */

.add-question-container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.add-question-container h2 {
    margin-bottom: 20px;
    color: darkblue;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-group select {
    width: 120%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-group textarea {
    resize: vertical;

}

.options-container,
.blank-container {
    margin-top: 20px;
}

.options-container h3,
.blank-container h3 {
    margin-bottom: 10px;
}

.option-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.option-item input[type="checkbox"],
.option-item input[type="radio"] {
    margin-right: 10px;
}

.option-item input[type="text"] {
    flex: 1; /* Permite que el input ocupe el espacio restante */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.hidden-input {
    display: none; /* Oculta el input de la respuesta */
}

.submit-button {
    background: linear-gradient(to right, darkblue, lightseagreen);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    margin: 20px auto 0;
}

.submit-button:hover {
    background: linear-gradient(to right, darkblue, blueviolet);
}

.add-option-button {
    background: #f0f0f0; /* Color más suave */
    border: 1px solid #ccc; /* Borde más sutil */
    color: #333; /* Color del texto más oscuro */
    padding: 8px 16px; /* Tamaño ligeramente más pequeño */
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: -10px;
}

.add-option-button:hover {
    background: #e0e0e0; /* Cambio de color suave al pasar el ratón */
}

.remove-option-button {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
}

.remove-option-button:hover {
    color: darkred;
}
