.form-container {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.form-container h2 {
    margin-bottom: 20px;
    margin-top: -20px;
    color: darkblue;
    text-align: center;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas con igual ancho */
    gap: 50px; /* Espacio entre las columnas */
}

.form-group-CE {
    margin-bottom: 15px;
}

.form-group-CE label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group-CE input{
    width: 100%; /* Ancho completo para input y select */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.form-group-CE select{
    width: 108%; /* Ancho completo para input y select */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.form-group-CE textarea {
    max-width: 100%;
    resize: none;
    height: 22px;
    border: 1px solid #ccc;
}

.submit-button {
    background: linear-gradient(to right, darkblue, lightseagreen);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.submit-button:hover {
    background: linear-gradient(to right, darkblue, blueviolet);
}

.back-arrow-Agg{
    cursor: pointer;
    color: darkblue;
    margin-bottom: -70px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 24px;
}

.back-arrow-Agg:hover {
    color: lightseagreen;
}