.detalle-examen-container {
    max-width: 600px; /* Aumenta el ancho máximo para adaptarse mejor al contenido */
    margin: 20px auto;
    margin-top: 130px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    position: relative;
}

.detalle-examen-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: darkblue; /* Cambia el color del título */
}

.exam-section-detail {
    margin-bottom: 20px;
}

.exam-section-detail h2.text-titles-detail {
    margin-bottom: 10px;
    color: darkblue;
}

.exam-section-detail p {
    margin: 5px 0;
}

.text-container-detail {
    text-align: center; /* Centra el contenido */
    margin-bottom: 20px;
}

.back-arrow-container-detail {
    position: absolute;
    cursor: pointer;
    top: 20px; /* Posiciona el botón hacia arriba */
    left: 20px; /* Posiciona el botón hacia la izquierda */
}

.back-arrow-detail {
    cursor: pointer;
    color: darkblue;
    font-size: 24px;
}

.back-arrow-detail:hover {
    color: lightseagreen;
}
