.boton-examen {
    background: linear-gradient(to right, whitesmoke, lightgray);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin-left: 300px;
}

.boton-examen:hover {
    background: linear-gradient(to right, whitesmoke, darkgray);
}

.exam-info p {
    margin-bottom: 10px; /* Ajusta el valor según tu preferencia */
}