/* InicioEstudianteStyle.css */

.inicio-estudiante .font {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.inicio-estudiante .app-header-dash {
    background-color: transparent;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos del encabezado */
}

.inicio-estudiante .back-arrow-dashboard {
    display: flex;
    margin-top: 10px;
    align-items: center; /* Alinea verticalmente la flecha con el texto "Moralma" */}

.inicio-estudiante .title {
    font-size: 30px;
    margin-right: 1200px; /* Ajusta el margen izquierdo del título */
    display: inline-block;
    background: linear-gradient(to right, darkblue, lightseagreen); /* Degradado de rojo a verde */
    -webkit-background-clip: text; /* Clip de fondo al texto para WebKit */
    background-clip: text; /* Clip de fondo al texto */
    color: transparent; /* Hace que el texto sea transparente */
    font-weight: bold;
}

.inicio-estudiante .greeting {
    margin-right: 20px;
    margin-top: 10px;}

.inicio-estudiante .divider {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;}

.inicio-estudiante .main-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.inicio-estudiante .section {
    width: 45%;
}

.inicio-estudiante .presented-exams h2, .inicio-estudiante .available-exams h2 {
    text-align: center;
    color: darkblue;
}

.inicio-estudiante .course-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
}

.inicio-estudiante .vertical-line {
    width: 2px;
    background-color: #ccc;
    margin: 0 20px;
}

.no-exams-message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Ancho del cuadro */
    margin: auto; /* Centra el cuadro horizontalmente */
    background: white; /* Color de fondo del cuadro */
    padding: 10px; /* Espaciado dentro del cuadro */
    margin-top: 50px;
}

.no-exams-message {
    font-weight: bold;
    color: #333;
    text-align: center;
}
