.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    position: relative; /* Añadir esto para la posición de la flecha */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-section, .exams-section, .schedule-section, .study-plan-section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

p, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

.exam-button {
    background: linear-gradient(to right, whitesmoke, lightgray);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.exam-button:hover {
    background: linear-gradient(to right, whitesmoke, darkgray);
}

.text-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente, si fuera necesario */
    background: linear-gradient(to right, darkblue, lightseagreen);
    background-clip: text; /* Clip de fondo al texto */
    color: transparent; /* Para que el degradado sea visible */
    margin-bottom: -10px;
    margin-top: -20px;
}

.text-titles {
    color: darkblue;
}

.text-hi {
    text-align: center;
}

.back-arrow-container {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.back-arrow {
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
}

.back-arrow:hover {
    color: #666;
}
